*
{
    margin: 0;
    padding: 0;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(image/rawpixel-568382-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float:right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color:rgba(255, 255, 255, 0.699);
    text-decoration: none;
    padding: 10px 40px;
    font-family: "Malgun Gothic", sans-serif;
    font-size: 20px;

}

.main-nav li.active a{
    border: 2px solid darkorange;
}

.main-nav li a:hover{
    border: 2px solid rgba(255, 0, 0, 0.7);
    transition: all 0.5s ease;
    color: darkred;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

body{
    font-family: malgun gothic;
}

.intro{

    position: absolute;
    top: 40%;
    width: 100%;
    right: 20%;
    text-align: center;

}

h1{
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}

.box
{
    margin-top:  30px;
    margin-left: 350px;
}

.bx{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 20px;
    text-transform: uppercase;


}

.bx1{
    
    background-color: darkorange;
    font-family: "Malgun Gothic", sans-serif

}
.bx2{
    
    font-family: "Malgun Gothic", sans-serif
}

.bx1:hover
{
    background-color: darkorange;
    border: 1px solid black;
    color: black;
    transition: all 1s ease
}

.bx2:hover
{
    background-color: darkred;
    border: 1px solid black;
    color: black;
    transition: all 1s ease
}
